# Dependencies
node_modules
.pnpm-store

# Build output
.next
out

# Development files
.git
.gitignore
*.md
!README.md

# IDE
.vscode
.idea
*.swp
*.swo

# Test
coverage
.nyc_output

# Misc
.DS_Store
*.log
.env*.local
